@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

.body_gradient{
    background: linear-gradient(-180deg, #282A35 70%,#0890bd);
}


/* -------------------------------------------------------------------------- */
* {
    scrollbar-width: thin;
    scrollbar-color: #5AD7FF #282A35;
  }

*::-webkit-scrollbar {
    width: 12px;
  }
  
*::-webkit-scrollbar-track {
    background: #282A35;
  }
  
*::-webkit-scrollbar-thumb {
    background-color: #5AD7FF;
    border-radius: 20px;
    border: 3px solid #282A35;
  }

/* -------------------------------------------------------------------------- */

html{
    position:relative; 
    min-height: 100%;
  }

body{
    margin: 0px;
    padding: 0px;
    background-color: #282A35;
}

.menu{
    padding-right: 20px;
    padding-left: 30px;
    border-bottom: 1px solid #5AD7FF;
    display: block;
    overflow: hidden;
    
}

.menu nav a{
    font-family: 'Sarala', sans-serif;
    font-size: 15px;
    float: left;
    color: white;
    text-align: center;
    padding: 18px 18px;
    text-decoration: none;
}

.menu nav a:hover{
    color:#5AD7FF;
}

.card{
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    text-align: center;
    display: flex;
}

.card_conteudo{
    color: white;
    padding-right: 16%;
}

.card_conteudo h1{
    line-height: 60%;
    font-family: 'Righteous', cursive;
    font-size: 55px;
}

.card_conteudo p{
    padding-bottom: 30px;
    font-family: 'Sarala', sans-serif;
}

.card_conteudo a{
    background-color: #1ec7ff;
    color: white;
    padding: 12px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 25px;
    font-family: 'Sarala', sans-serif;
    text-decoration: none;
    font-size: 20px;
}

.card_conteudo a:hover{
    background-color: #06afe8;
}

img{
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

section{
    align-items: center;
}
section h3{
    font-family: 'Sarala', sans-serif;
    font-size: 45px;
    color: white;
    text-align: center;
    border-bottom: 1px solid white;
    border-color: #5AD7FF;
    margin-left: 38%;
    margin-right: 38%;
    line-height: 190%;
    
}

.card2{
    margin-bottom: 140px;
}

.cardanimado{
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
    display: flex;
    flex-wrap:wrap;
    }

.cardanimado_unity{
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    color: white;
    height: 380px;
    width: 240px;
    border-radius: 15px;
    margin: 40px;
    background-color: #282A35;
    box-shadow: 20px 20px 50px #00000080;
    border-top: 1px solid #ffffff80;
    border-left: 1px solid #ffffff80;
    }
    
.cardanimado div p{
    font-family: 'Sarala', sans-serif;
    line-height: 130%;
    padding-top: 180px;
    
    }

.cardanimado div h1 {
    font-family: 'Righteous', cursive;
    position: absolute;
    top: -50px;
    right: 50px;
    font-size: 90px;
    color: #ffffff80;
    }

footer {
    color: white;
    border-top: 1px solid #5AD7FF;
    font-family: 'Sarala', sans-serif;
    font-size: 18px;
    justify-content: space-around;
    padding: 15px;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    }

.redesSociais{
    line-height: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
}